<div class="modal fade" id="modal-submit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     style="display: none;">
  <div class="modal-dialog modal-auto modal-time-left">
    <div class="">
      <i class="ion-android-close close-modal" data-dismiss="modal" aria-label="Close">
      </i>
      <h2 class="modal-caption">
        {{ ' Are you sure want to submit?'|t }}
      </h2>
      <p class="modal-des">&nbsp;</p>
      <div class="review-content">
        <div class="bp-control-time-left ">
          <a id="submit-test-block" class="submit-test-block"><span></span> {{ 'Submit and Review Answers '|t }} </a>
          <a class="btn-cancel" data-dismiss="modal" aria-label="Close">  {{ 'Cancel'|t }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
