<form action="/search/tips" id="search-tips" method="get">
  <div class="searchbox searchbox-fix">
    <button type="submit">
    </button>
    <input type="search" name="title" placeholder="Search Tips" value="{{ get }}" class="search-tips">
  </div>
</form>
