<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-auto modal-profile">
    <div class="">
      <i class="ion-android-close close-modal" data-dismiss="modal" aria-label="Close"></i>
      <h2 class="modal-caption">{{ 'Thank you'|t }}</h2>
      <div class="login-box">
        <p style="text-align: center"> {{ 'Thank you for contacting us, we will get back within 48 hours.'|t }}</p>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="modal-subscribe" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-auto modal-profile">
    <div class="">
      <i class="ion-android-close close-modal" data-dismiss="modal" aria-label="Close"></i>
      <div class="login-box">
        <p style="text-align: center"> {{ 'You have subscribed successfully.'|t }}</p>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-auto modal-profile">
    <div class="">
      <i class="ion-android-close close-modal" data-dismiss="modal" aria-label="Close"></i>
      <div class="login-box">
        <p
          style="text-align: center;padding-top: 50px"> {{ 'Thank you for your feedback, we will investigate and resolve the issue within 48 hours.'|t }}</p>
      </div>

    </div>
  </div>
</div>
