<div class="footer-bar">
  <div class="container">
    <div class="row row-fix">
      <div class="col-md-4 col-sm-4 col-xs-12 col-fix">
        <div class="follow-box">
          <span>{{ 'Follow Us:'|t }}</span>
          <a href="https://www.facebook.com/ieltsonlinetests/" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-weibo"></i></a>
        </div>
      </div>
      <form id="subscriber-form" method="post">
        <div class="col-md-4 col-sm-4 col-xs-12 col-fix">
          <div class="subcribe-input">
            <input type="email" class="subscriber"
                   placeholder="Enter your e-mail to receive IOT News Letters">
            <div class="error-message newsletter-error"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 col-fix">
          <div class="subcribe-input">
            <button type="submit">{{ 'Subscribe to IOT News Letters'|t }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
