<!-- Add you custom twig html here -->
<!--section-->
{% if nodes %}
  <section class="section section-look">
    <div class="container">
      <div class="section-caption white">
        <span>{{ 'See our mock IELTS tests and features'|t }}</span>
      </div>
      <div class="carousel">
        <!-- BEGIN CAROUSEL -->
        <div class="slides slides-home">
          <!-- BEGIN SLIDES -->
          {% for node in nodes %}
            <div>
              <!-- SLIDE ITEM -->
              <a>
                <img src="{{ file_url(node.field_image.0.entity.uri.value) }}"/>
              </a>
            </div>
          {% endfor %}
        </div>
        <!-- END SLIDES -->
        <div class="description description-home">
          <!-- BEGIN DESCRIPTION -->
          {% for node in nodes %}
            <div>
              <!-- DESCRIPTION ITEM -->
              {{ node.body.value|raw }}
            </div>
          {% endfor %}

        </div>
        <!-- END DESCRIPTION -->
      </div>
    </div>
  </section>
  <!--section-->
{% endif %}